* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to right,
    rgb(37, 126, 133),
    rgb(151, 170, 206),
    rgb(132, 83, 167)
  );
  color: rgb(48, 37, 37);
  font-family: "Dancing Script", cursive;
  min-height: 100vh;
}
header {
  font-size: 2.3rem;
  font-weight: bold;
}
header,
form {
  padding-top: 50px;
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: rgb(246, 228, 250);
}
form button {
  color: rgb(79, 79, 131);
  background: rgb(228, 200, 236);
  cursor: pointer;
  transition: all 0.5s ease;
  margin-left: 5px;
}
form button:hover {
  color: rgb(228, 200, 236);
  background: rgb(79, 79, 131);
}
.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-list {
  list-style: none;
  min-width: 30%;
}
.todo {
  margin: 0.5rem;
  background: rgb(246, 228, 250);
  color: rgb(59, 59, 59);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}
.trash-btn,
.complted-btn {
  background: rgb(206, 162, 218);
  color: rgb(46, 72, 94);
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  margin: 1px;
}
.complted-btn {
  background: rgb(76, 120, 241);
}
.todo-item {
  padding: 0rem 1rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: rgb(59, 59, 59);
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
  background: rgb(239, 219, 243);
}
.select::after {
  content: "\25BC";
  position: absolute;
  background: rgb(226, 204, 231);
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.5d ease;
}
.select:hover::after {
  background: rgb(148, 147, 147);
  color: rgb(59, 59, 59);
}
